:root {
    --main-color: #0b3a2f;
}

body,h1,h2,h3,h4,h5,h6 {
    font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    color: var(--main-color);
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 270px;
    width: 800px;
    text-align: center;
}

h1 {
    margin-bottom: 17px;
}

hr {
    background-color: var(--main-color);
    height:1.2px;
}

p {
  margin-top: 17px;
}

.desc {
    max-width: 600px;
    text-align: justify;
    line-height: 1.5;
}

.box {
    border: 2px solid var(--main-color);
    border-radius: 12px;
    width: 240px
}

.ui-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
}

.settings-container {
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.playback-container {
    width: 162px;
    display: flex;
    justify-content: space-between;
}

.desc-response {
    text-align: center;
    height: 25px;
    font-size: 16px;
}

.button {
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 5px;
    font-size: 13px;
    color: var(--main-color);
}

#guess {
    text-align:center;
    margin-top: 5px;
    width:60px;
    font-size: 13px;
    color: var(--main-color);
}

.label {
    margin-right: 5px;
    margin-top: 5px;
    font-size: 15px;
}

.status {
    margin-top: 5px;
    margin-left: 2px;
    width: 30px;
    text-align:center;
}

.cross {
    margin-top: 5px;
    margin-left: 2px;
    background-color: red;
    color: white;
    width: 30px;
    text-align:center;
}

.checkmark {
    margin-top: 5px;
    margin-left: 2px;
    background-color: green;
    color: white;
    width: 30px;
    text-align:center;
}

.transparent {
    margin-top: 5px;
    margin-left: 2px;
    width: 30px;
    text-align:center;
}

.answer-container {
    width: 160px;
    display: flex;
    justify-content: space-between;
}

.answer {
    margin-top: 5px;
    margin-left: 2px;
    width: 95px;
    text-align:center;
    font-size: 15px;
    color: var(--main-color);
}